/* -- --- -- Common Css Styles -- --- -- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C6C;
}
a {
    text-decoration: none;
}
/* -- --- -- Margin CSS Styles -- --- -- */

.margin-tb-40 {
    margin: 40px 0px;
}

/* -- --- -- Padding CSS Styles */

.pad-tb-40 {
    padding: 40px 0px;
}

/* -- --- -- Heading Styles -- --- -- */

.big-heading {
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    color: #FFFFFF;
}
.midium-heading {
    font-size: 32px;
    line-height: 60px;
    font-weight: 700;
    color: #0A0826;
}
.small-heading {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    color: #18191F;
}

/* -- --- -- Button CSS Styles -- --- -- */
button {
    border: 0px;
}
.button-style {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 20px;
    transition: 1s;
    
}
.button-style:hover {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transform: scale(.5,.5);
    transition: 1s;
}
/* -- --- -- Flex CSS Styles -- --- -- */
.flexbox {
    display: flex;
    justify-content: space-between;
}
.flex-coloum-50 {
    width: 50%;
}

/* -- --- -- Header Css Styles Starts -- --- -- */
header {
    background-color: #2D25A0;
}
.header-container {
    padding: 0px 150px;
}
.header-top {
    width: 100%;
    align-items: center;
}
.header-top>.header-menu>nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-top>.header-menu>nav>ul li {
    display: inline;
}
.header-top>.header-menu>nav>ul>li a {
    color: #FFFFFF;
    padding-right: 30px;
    font-weight: 500;
}
.fas {
    margin-right: 10px;
}
.header-banner {
    width: 560.01px;
    height: 450px; 
    padding-left: 20px;
}
.header-banner img {
    width: 500.01px;
    height: 400px;
    transition: 1s;
    padding-left: 20px;
}
.header-banner img:hover {
    width: 555.01px;
    height: 440px;
    transform: scale(.7);
    transition: 1.s;
}

/* -- --- -- Header Css Styles Ends -- --- -- */