/* -- --- -- Common Css Styles -- --- -- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C6C;
}
a {
    text-decoration: none;
}
/* -- --- -- Margin CSS Styles -- --- -- */

.margin-tb-40 {
    margin: 40px 0px;
}

/* -- --- -- Padding CSS Styles */

.pad-tb-40 {
    padding: 40px 0px;
}
.section-pad {
    padding: 0px 150px; 
}
.section-pad-all {
    padding: 50px 150px; 
}
.padding-right-20 {
    padding-right: 20px;
}
/* -- --- -- Heading Styles -- --- -- */

.big-heading {
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    color: #FFFFFF;
}
.midium-heading {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #0A0826;
    margin: 10px 0px;
}
.small-heading {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: #18191F;
}

/* -- --- -- Button CSS Styles -- --- -- */
button {
    border: 0px;
}
.button-style {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 20px;
    transition: 1s;
    
}
.button-style:hover {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transform: scale(.5,.5);
    transition: 1s;
}
/* -- --- -- Flex CSS Styles -- --- -- */
.flexbox {
    display: flex;
    justify-content: space-between;
}
.flex-coloum-50 {
    width: 50%;
} 

/* -- --- -- Icon Style -- --- -- */
.icon-style {
    margin-right: 10px;
    align-items: center;
}

/* -- --- -- Header Css Styles Starts -- --- -- */
header {
    background-color: #2D25A0;
}
/* .header-container {
    padding: 0px 150px;
} */
.header-top {
    width: 100%;
    align-items: center;
}
.header-top>.header-menu>nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-top>.header-menu>nav>ul li {
    display: inline;
}
.header-top>.header-menu>nav>ul>li a {
    color: #FFFFFF;
    padding-right: 30px;
    font-weight: 500;
}
.menu-icon {
    color: #FFFFFF;
    display: none;
}
.header-banner {
    width: 560.01px;
    height: 450px; 
    padding-left: 20px;
}
.header-banner img {
    width: 500.01px;
    height: 400px;
    transition: 1s;
    padding-left: 20px;
}
.header-banner img:hover {
    width: 555.01px;
    height: 440px;
    transform: scale(.7);
    transition: 1.s;
}

/* -- --- -- Header Css Styles Ends -- --- -- */

/* -- --- -- Players Css Styles Ends -- --- -- */

.player-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
   
}
.single-player {
    width: 310px;
    height: 470px;
    padding: 15px;
    border: 1px solid #2D25A0;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 2px grey;
}
.player-img {
    width: 300px;
    height: 250px;
    
}
.player-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.player-details h3 {
    margin: 22px 0;
}
/* -- --- -- Players Css Styles Ends -- --- -- */

/* -- --- -- Match Css Styles Starts -- --- -- */

.match-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
.match-info>a>i {
    margin-left: 8px;
    align-items: center;
}
.paragraph-style {
    margin-top: 8px;
    margin-bottom: 24px;
}
.match-image {
    width: 530px;
    height: 420px;
    border-radius: 10px;
}
.match-image img {
    width: 100%;
    height: 100%;    
}
.match-image-2 {
    width: 530px;
    height: 420px;
    top: 0;
    position: absolute;
    border-radius: 10px;
    transform: rotateY(180deg)
}
.match-image-2 img {
    width: 100%;
    height: 100%;    
}
.match-media {
    background-color: transparent;
    width: 530px;
    height: 420px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.image-iffect {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.match-media:hover .image-iffect {
    transform: rotateY(180deg);
}

.match-image .match-image-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* -- --- -- Match Css Styles Ends -- --- -- */

/* -- --- -- About Us CSS Style Starts -- --- -- */

.about-video {
    border: 2px solid #2D25A0;
    cursor: pointer;
    height: 315px;
    border-radius: 5px;
}
.about-video iframe {
    height: 100%;

}
.about-heading {
    padding: 0px 50px;
}

/* -- --- -- About Us CSS Style Ends -- --- -- */

/* -- --- -- Footer CSS Starts Here -- --- -- */

.footer-content {
    display: grid;
    grid-template-columns: repeat(1fr); 
    justify-content: center;
}
.footer-logo {
    width: 483.87px;
    height: 110px;
}
.footer-logo img {
    width: 100%;
}

.footer-menu {
    text-align: center;
    position: relative;
}

.footer-menu a {
    padding: 0px 10px;
}
.footer-menu a>img {
    width: 32px;
    height: 32px;
}

.copyright-text {
    text-align: center;
    position: relative;
}
.copyright-text p {
    font-size: 18px;
    line-height: 24px;
    color: black;
}
/* -- --- -- Footer CSS Ends Here -- --- -- */

/* -- --- -- Mobile Responsive CSS Starts Here -- --- -- */
 /* -- --- -- Header Mobile Respomsive CSS Starts Here -- --- -- */

@media only screen and (max-width:688px) {
    .header-content, .header-conttent-2  {
        padding: 0px;
    }
    .header-top, .header-bottom {
        display: inline;
        text-align: center;
        margin: 0px 10px;
    }
    .header-menu>nav {
        display: none;
    }
    .menu-icon {
        display: block
    }
    .login-button {
        display: block;
        margin-top: 20px;
    }
    .heading-part {
        display: block;
    }
    .heading-part h1 {
        font-size: 32px;
        margin: 0px;
    }
    .header-banner {
        width: 400px;
        height: 280px;
        display: inline-block;
        margin: 0px;
        padding-top: 30px;
    }
    .header-banner img {
        width: 100%;
        height: 100%;   
    }
}

/* -- --- -- Header Mobile Respomsive CSS Ends Here -- --- -- */

/* -- --- -- Players Mobile Respomsive CSS Ends Here -- --- -- */

@media only screen and (max-width:688px) {
    .player-info {
        padding: 20px 40px;
        grid-template-columns: repeat(1, 1fr);  
        justify-content: center;
        align-items: center; 
        
    }
    .single-player {
        width: auto;
        margin-left: 20px; 
    }
}

/* -- --- -- Players Mobile Respomsive CSS Ends Here -- --- -- */

/* -- --- -- Match Mobile Respomsive CSS Starts Here -- --- -- */
@media only screen and (max-width:688px) {
    .match-container {
        padding: 10px 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .match-info {
        display: block;
        margin: 20px;
    }
    .match-info>h2 {
        font-size: 24px;
        padding-right: 10px;
        margin: 0;
    }
    .match-image, .match-image-2 {
        width: 400px;
        height: 280px;
        display: inline-block;
        margin: 0px;
        padding-top: 30px;
    }
    .match-image, .match-image-2 img {
        width: 100%;
        height: 100%;
    }
}


/* -- --- -- Match Mobile Respomsive CSS Ends Here -- --- -- */




/* -- --- -- Header Mobile Respomsive CSS Ends Here -- --- -- */
/* -- --- -- Header Mobile Respomsive CSS Ends Here -- --- -- */


/* -- --- -- Mobile Responsive CSS Ends Here -- --- -- */